/*General*/
html *, body * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins-SemiBold;

}

:root {
    --glob-white: #EAE7DC;
    --glob-grill: #D8C3A5;
    --glob-gray: #8E8D8A;
    --glob-light-red: #E98074;
    --glob-red: #E85A4F;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--glob-light-red);
}

p, ul, li, a, span, tr, td, th, input, button {
    font-family: Poppins-Light;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rotate-45 {
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.section_neytral {
    display: block;
    position: relative;
    padding: 1px;
    background: linear-gradient(to right, rgba(142, 141, 138, 0.1), rgba(142, 141, 138, 1));
}

.item-helper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
    border-radius: 2px;
    border: 1px solid rgba(216, 195, 165, 0.2);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(216, 195, 165, 0.1);
    -moz-box-shadow: 0px 1px 2px 1px rgba(216, 195, 165, 0.1);
    box-shadow: 0px 1px 2px 1px rgba(216, 195, 165, 0.1);
}

.item-helper-hover-grill:hover {
    border: 1px solid rgba(216, 195, 165, 0.7);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(216, 195, 165, 0.7);
    -moz-box-shadow: 0px 1px 2px 1px rgba(216, 195, 165, 0.7);
    box-shadow: 0px 1px 2px 1px rgba(216, 195, 165, 0.7);
}

.item-helper-hover-blue:hover {
    border: 1px solid rgba(0, 0, 165, 0.1);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 165, 0.71);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 165, 0.71);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 165, 0.71);
}

.point_view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: var(--glob-gray);
    font-size: 12px;
    cursor: pointer;
}

.point_view i {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 40px;
    padding: 3px;
}

.back-to-top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    outline: none;
    background: rgba(142, 141, 138, 1);
    font-size: 15px;
}

.back-to-top:hover {
    background: rgba(142, 141, 138, 0.7);
}

.back-to-top:focus,
.back-to-top:link,
.back-to-top:visited,
.back-to-top:link {
    outline: none;
}

.clickEventCommand {
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 0.2s ease-in-out !important;
}

.p-15 {
    padding: 15px !important;
}

.pb-15 {
    padding-bottom: 15px;
}

.mt-15 {
    margin-top: 15px;
}

/* /General*/

/*Header*/
header {
    width: 100%;
    padding-bottom: 25px;
    background: var(--glob-white);
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header_inner {
    display: flex;
    width: 100%;
    padding: 25px;
    align-items: center;
    flex-direction: row;
}

.header__left, .header__center, .header__right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__left {
    min-width: 200px;
}

.header__left h1 {
    font-weight: bold;
}

.header__center {
    width: 300%;
}

.header__center .glob__search {
    display: flex;
    width: 100%;
    align-items: center;
}

.glob__search > input {
    width: 100%;
    outline: none;
    height: 40px;
    border-radius: 3px;
    border: none;
    box-shadow: 0.4px 0.3px 0.5px rgba(233, 128, 116, 0.8);
    padding-left: 15px;
}

.header__right {
    justify-content: flex-end;
}

.header__right ul {
    margin: 0px;
    padding: 0px;
}

.header__right ul li {
    display: inline-flex;
    margin-right: 7px;
    margin-left: 7px;
    cursor: pointer;
}

.header__right .login__reg {
    color: var(--glob-light-red);
    font-weight: bold;
    font-size: 25px;
}

.basket > span {
    color: var(--glob-light-red);
    font-weight: bold;
    font-size: 25px;
}

.header_bottom {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header_bottom__inner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.header__category_span {
    font-size: 25px;
    font-weight: bold;
    color: var(--glob-gray);
    cursor: pointer;
    border-bottom: 2px solid var(--glob-gray);
    font-family: Poppins-Medium;
}

.header__category {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    padding: 25px;
    width: 400px;
    height: auto;
    border-radius: 2px;
    background: var(--glob-red);
    z-index: 1000;
}

.header__category_span i {
    color: var(--glob-white);
    background: var(--glob-light-red);
    height: 25px;
    width: 28px;
}

.header__category ul {
    margin: 0px;
    padding: 0px;
}

.header__category ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right: 7px;
    padding-left: 7px;
    border-bottom: 1px solid var(--glob-white);
}

.header__category ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: #fff;
    /*font-size: x-large;*/
    font-size: 19px;
}

.header__category ul li a > i {
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.header__category ul li ul {
    display: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    background: var(--glob-light-red);
}

.header__category ul li ul li a {
    font-size: 18px;
}

/*Header*/

/** Main **/
.main {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main_child .slider_arrows_inner {
    padding-right: 0px;
}

.main__banner_slider {
    padding-top: 30px;
}

.main__banner_slider .slider_item {
    cursor: grab;
}

.main__banner_slider .slider_item h3 {
    color: var(--glob-gray);
}

.main__banner_slider .slider_item p {
    color: var(--glob-gray);
}

.main__banner_slider .slider_item p.price {
    font-size: 30px;
    margin-top: 10px;
}

.main__banner_slider .slider_item img {
    margin: 0 auto;
}

.btn_group {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn_group span, .btn_group a {
    font-size: 20px;
    margin: 5px;
    padding: 3px 15px;
    text-decoration: none;
    cursor: pointer;
}

.btn_group a {
    margin-left: 0px;
    color: var(--glob-gray);
    border: 1px solid var(--glob-gray);
    font-family: Poppins-Light;
}

.btn_group span {
    color: var(--glob-red);
    border: 1px solid var(--glob-light-red);
    font-family: Poppins-Light;
}

.section_title {
    color: var(--glob-grill);
    border-bottom: 1px solid var(--glob-white);
    font-size: 30px;
    padding-bottom: 8px;
}

.slider_arrows {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
}

.slider_arrows_inner {
    display: flex;
    padding-right: 10px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 40px;
}

.slider_arrows span {
    margin: 3px;
    padding: 3px 7px;
    background-color: var(--glob-red);
    color: var(--glob-white);
    cursor: pointer;
}

/** /Main **/

/** Best Sales**/
.main_child {
    padding-bottom: 60px;
}

.main_best .slick-slide img {
    width: 100%;
    padding: 10px;
}

.slick_arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(75%);
    position: absolute;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
    z-index: 99;
}

.main_best__inner {
    padding-right: 10px;
    padding-left: 5px;
    /*padding-top: 30px;*/
    position: relative;
}

.main_best__inner span:hover {
    opacity: 1;
    transition: 0.4s linear;
}

.slick_arrows span {
    font-size: 40px;
    color: var(--glob-white);
    cursor: pointer;
    opacity: 0.5;
    background: var(--glob-gray);
    padding-right: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;
    border-radius: 2px;
    transition: 0.4s linear;
}

.slick_arrows span.right_arrow {
    /*margin-right: 25px;*/
}

.slick_arrows span.left_arrow {
    margin-left: 30px;
}

.mCSB_dragger_bar {
    background: var(--glob-light-red) !important;
}

.mCSB_draggerContainer, .mCSB_dragger {
    padding-left: 10px !important;
}

.main_best_item {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.main_best_item span {
    font-size: 30px;
    color: var(--glob-red);
    z-index: 999;
    position: absolute;
    right: 50px;
    top: 25px;
    bottom: 25px;
    display: flex;
    align-items: flex-end;
}

.main_best_item img {
    width: auto !important;
}

.main_best_item img {
    outline: none;
}

.main_best_item img:focus {
    outline: none;
}

.main_best_item img:link {
    outline: none;
}

.main_best_item a {
    display: block;
    position: absolute;
    z-index: 1000;
    background: var(--glob-light-red);
    padding: 3px 32px;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    bottom: 0px;
    text-decoration: none;
    display: none;
}

.main_best_item .slick-slide:hover a {
    background: var(--glob-red);
}

.main_best_item:hover a {
    display: block;
}

/** /Best Sales**/

/** New **/
#main_new__inner {
    position: relative;
}

#main_new__inner .mCSB_container {
    margin-top: 30px;
}

#main_new__inner span.right_arrow {
    display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 40px;
    color: var(--glob-white);
    cursor: pointer;
    opacity: 0.5;
    background: var(--glob-gray);
    transform: translateY(50%);
    padding-right: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;
    border-radius: 2px;
    transition: 0.4s linear;
    z-index: 999;
}

#main_new__inner span.left_arrow:hover, #main_new__inner span.right_arrow:hover {
    opacity: 1;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

#main_new__inner span.left_arrow {
    display: inline-block;
    position: absolute;
    left: 25px;
    font-size: 40px;
    color: var(--glob-white);
    cursor: pointer;
    opacity: 0.5;
    transform: translateY(50%);
    background: var(--glob-gray);
    padding-right: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;
    border-radius: 2px;
    transition: 0.4s linear;
    z-index: 999;
}

/** /New **/

/*Compaign*/
.compaign {
    /*Some codes ...*/
}

.compaign_inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: grab;
}

.compaign_inner__section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 20%;
    height: 100%;
    flex: 1;
}

.compaign_inner__section h3 {
    color: var(--glob-gray);
}

.compaign_inner__section h1.plus, .compaign_inner__section h1.equal {
    font-size: 13rem;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--glob-gray);
}

.compaign_inner__section___item {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.compaign_inner__section___item h4 {
    font-size: 3rem;
    color: var(--glob-red);
}

.compaign_inner__section h1.old_price {
    color: var(--glob-gray);
    font-size: 26px;
}

.compaign_inner__section h1.new_price {
    color: var(--glob-red);
}

.compaign_inner__section h1.old_price:before {
    content: '';
    display: block;
    width: 65px;
    height: 2px;
    top: 44%;
    left: 37%;
    background: var(--glob-red);
    position: absolute;
    transform: rotate(45deg);
}

.compaign_inner__section h1.old_price:after {
    content: '';
    display: block;
    width: 65px;
    height: 2px;
    top: 44%;
    left: 37%;
    background: var(--glob-red);
    position: absolute;
    transform: rotate(-45deg);
}

.compaign_inner__section .btn_group {
    justify-content: center;
}

.compaign_area {
    margin-bottom: 90px;
}

/* /Compaign*/

/**Purchased by your frineds**/
.pbf {
    position: relative;
}

.pbf_firend__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid var(--glob-white);
    opacity: 0.6;
}

.pbf_firend__profile h4 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pbf_firend__profile img {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.pbf_firend__fav {
    cursor: grab;
}

.pbf_firend__fav .fav__header {
    padding-left: 10px;
}

.pbf_firend__fav___products img {
    width: 100%;
    border-radius: 2px;
}

.pbf_firend__fav___products .slick-slide {
    padding: 10px;
}

.pbf_firend__fav___products .item h4, .pbf_firend__fav___products .item p {
    color: var(--glob-gray);
}

.pbf_firend__fav___products .item h4 {
    font-size: 15px;
    margin-bottom: 0px;
    color: var(--glob-red);
}

.pbf_firend__fav___products .item p {
    font-size: 12px;
}

.pbf_firend__fav___products .item a {
    display: flex;
    background: rgba(0, 0, 255, 0.3);
    margin-top: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding-bottom: 3px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.pbf_firend__fav___products .item a:hover {
    background: rgba(0, 0, 255, 0.6);
    transition: all 0.3s ease;
}

.friend {
    display: flex !important;
}

.friend-right {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    color: var(--glob-white);
    background: var(--glob-gray);
    padding-left: 7px;
    padding-right: 7px;
    z-index: 999;
    right: 15px;
    opacity: 0.6;
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.friend-left {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    color: var(--glob-white);
    background: var(--glob-gray);
    right: 45px;
    padding-left: 7px;
    padding-right: 7px;
    z-index: 999;
    cursor: pointer;
    border-radius: 1px;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.friend-left:hover, .friend-right:hover {
    opacity: 1;
    transition: all 0.3s ease;
}

.pbf_firend__fav___products .slick-slide {
    flex-direction: row;
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    min-height: 212px;
    text-align: center;
}

/** /Purchased by your frineds**/

/**Blogs**/
.blogs {
    /*some codes ...*/
}

.blogs_item {
    margin-top: 30px;
}

.blogs_item h3, .blogs_item p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.blogs_item h3 {
    font-size: 18px;
}

.blogs_item p {
    font-size: 13px;
}

.blogs_item__foot {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.blogs_item__foot___content, .blogs_item_foot__icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.blogs_item__foot___content {
    width: 100%;
}

.blogs_item_foot__icons {
    padding-top: 10px;
}

.blogs_item_foot__icons .fa-heart {
    color: var(--glob-red);
}

.blogs_item_foot__icons .fa-comment {
    color: rgba(0, 0, 255, 0.7);
}

/** /Blogs**/

/**Brands && Partners**/
.brandpart {
    padding-top: 30px;
    padding-bottom: 30px;
}

.brands, .partners {
    /* Some codes...*/
}

.brands_item, .partners_item {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.brands_item .item-helper, .partners_item .item-helper {
    width: 100%;
    cursor: grab;
}

.brands_item .item-helper:hover, .partners_item .item-helper:hover {
    border: 1px solid rgba(216, 195, 165, 0.3);
    -webkit-box-shadow: 0.1px 0.3px 0.3px 0.3px rgba(216, 195, 165, 0.7);
    -moz-box-shadow: 0.1px 0.3px 0.3px 0.3px rgba(216, 195, 165, 0.7);
    box-shadow: 0.1px 0.3px 0.3px 0.3px rgba(216, 195, 165, 0.7);
}

/** /Brands && Partners**/

/**Footer**/
.footer_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_inner__base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    background: rgba(142, 141, 138, 0.9);
}

.footer___component {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footer___component h4, .footer___component p a {
    color: #fff;
}

.footer___component p a {
    font-size: 13px;
}

.footer___component h4 {
    font-weight: bold;
}
/** /Footer**/

/**Login and Reg**/
.log_reg {
    visibility: hidden;
    opacity: 0;
    display:flex;
    top: 85px;
    right: 82px;
    width: 75%;
    height: 330px;
    max-width: 950px;
    max-height: 340px;
    border-radius: 3px;
    position: absolute;
    background: rgba(232, 90, 79, 1);
    background: #fff;
    z-index: 999;
    box-shadow: 0px 0px 4px 0.3px rgba(0, 0, 0, 0.1);
}

@keyframes open-close-anim {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.toggle-anim {
    visibility: visible;
    animation: open-close-anim 0.2s linear;
}


.log_reg .top_icon {
    display: block;
    position: absolute;
    right: 4px;
    top: -117px;
    background: #fff;
    transform:rotate(45deg);
    width: 20px;
    height: 20px;
    float: right;
    overflow: hidden;
    margin: 7em auto 0;
    border-radius: 20%;
    transform: translateY(50%) rotate(45deg);
    cursor: pointer;
    pointer-events: none;
}

.login_reg__inner {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reg {
    display: flex;
    width: 60%;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 999;
}

.log form, .reg form {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.log .log_username, .log .log_password {
    margin-top: 5px;
    margin-bottom: 5px;
}

.log .log_password .password_eye {
    display: none;
    position: absolute;
    right: 5%;
    margin-top: 7px;
    color: rgba(0, 0, 255, 0.6);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.log .log_submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.log .log_submit #login___submit {
    padding: 0px;
    width: 30%;
    height: 22px;
    background: rgba(0, 0, 255, 0.6);
    color: #fff;
    border: none;
}

.log .log_submit #login___submit:hover {
    background: rgba(0, 0, 255, 0.3);
}

.log input {
    outline: none;
    padding-left: 10px;
    height: 33px;
    width: 100%;
    font-size: 13px;
    border: 1px solid rgba(142, 141, 138, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.log .forget___password {
    font-size: 11px;
    color: var(--glob-gray);
    display: block;
    padding-left: 10px;
    text-align: right;
}

.log h3, .reg h3 {
    font-size: 22px;
    font-family: Poppins-SemiBold;
    display: block;
    width: 90%;
}

.reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(142, 141, 138, 0.2);
    z-index: 999;
}

.reg .reg_firstname,
.reg .reg_lastname, 
.reg .reg_email, 
.reg .reg_password, 
.reg .reg_submit {
    margin-top: 5px;
    margin-bottom: 5px;
}

.reg input {
    outline: none;
    padding-left: 10px;
    height: 33px;
    width: 100%;
    border: 1px solid rgba(142, 141, 138, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
}

.reg #reg___submit {
    padding: 0px;
    height: 22px;
    background: rgba(0, 0, 255, 0.6);
    color: #fff;
    border: none;
}

.reg .reg_submit #reg___submit:hover {
    background: rgba(0, 0, 255, 0.3);
}
/** /Login and Reg**/

/**Card**/
.card {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 15px;
    right: 35px;
    height: auto;
    position: absolute;
    background: #fff;
    z-index: 999;
    top: 90px;
    height: 435px;
    box-shadow: 0px 1px 0px 6px rgba(0, 0, 0, 0.1);
}

.card_header h2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 25px;
    color: var(--glob-gray);
}

.card_body {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_body__thead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.thead_item {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 8px;
}

.thead_item h5 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--glob-gray);
}

.card_body__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.item_row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.item_row__column {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 15px;
    width: 100%;
    max-height: 100px;
    padding: 15px;
    border: 1px solid #ddd;
    margin: 3px;
}

.item_row__column h3 {
    font-family: Poppins-Regular;
    font-size: 17px;
}

.item_row__column img {
    height: 100%;
}

.increment_count, .decrement_count {
    cursor: pointer;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border: 2px solid var(--glob-red);
    color: var(--glob-red);
    border-radius: 50%;
}

.increment_count {
    border-color: darkgreen;
    color: darkgreen;
}
/** /Card**/

/*PRODUCT IN PAGE*/
.product_view {
    display: flex;
    padding-bottom: 60px;
}

.product_view__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    padding: 25px;
}

.product_view_conf__widget {
    padding: 5px;
}

.product_view_conf__widget h5 {
    font-weight: bold;
    color: rgba(0, 0, 255, 0.6);
}

.product_view_conf__widget h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: var(--glob-gray);
}

.product_view_conf__widget p {
    color: var(--glob-gray);
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(142, 141, 138, 0.3);
    line-height: 1.4;
}

.color-sceme {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.color-sceme h6 {
    display: block;
    color: var(--glob-gray);
    width: 100%;
}

.color-sceme .colors {
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.color-sceme .colors span {
    display: flex;
    width: 27px;
    height: 27px;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0px 0px 0px 2px #ddd;
    cursor: pointer;
}

/*temporary colors*/
.color-sceme .colors span:nth-child(1) {
    background-color: #333232;
}

.color-sceme .colors span:nth-child(2) {
    background-color: #5e62bd;
}

.color-sceme .colors span:nth-child(3) {
    background-color: #8b0c25;
}
/* /temporary colors*/

.conf h6 {
    display: block;
    color: var(--glob-gray);
    width: 100%;
    margin-top: 15px;
}

.conf .conf-inner {
    display: flex;
    align-items: center;
}

.conf .conf-inner button {
    border: 1px solid rgba(142, 141, 138, 0.6);
    background-color: #fff;
    margin-right: 3px;
    color: #6e6a6a;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 3px;
}

.conf p {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
    color: rgba(0, 0, 255, 0.6);
    font-size: 13px;
}

.conf span:first-child {
    display: flex;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    border: 1px dotted;
    border-radius: 50%;
}

.conf__widget___foot {
    display: flex;
    align-items: center;
    padding-top: 10px;
    width: 100%;
}

.conf__widget___foot h3{
    color: var(--glob-gray);
    font-weight: bold;
    margin-right: 15px;
}

.conf__widget___foot button {
    background: rgba(87, 137, 87, 1);
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(87,137,87, 0.8);
}

/*Share*/

.share {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    height: 200px;
    width: 120px;
    z-index: -1;
}

.share_inner {
    padding: 15px;
}

.share ul {
    margin: 0;
    padding: 0;
}

.share ul li {
    list-style: none;
}

.share ul li a {
    display: block;
    text-decoration: none;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    border-radius: 3px;
}

.share ul li a span {
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}

.share ul li a span:first-child {
    background: #fff;
    font-weight: normal;
    color: #3b5998;
    padding-right: 2px;
    padding-left: 2px;
    border-radius: 1px;
}

.share ul li a.tweet span:first-child,
.share ul li a.pinterest span:first-child {
    background-color: transparent;
    color: #fff;
}

/*social icons background color*/

.share ul li a.fb {
    background: #3b5998 !important;
}

.share ul li a.tweet {
    background-color: #55acee !important;
}

.share ul li a.linkedin {
    background-color: #0077B5 !important;
}

.share ul li a.pinterest {
    background-color: #cc2127 !important;
}
/* /social icons background color*/

/*Share icons as inline block*/
.share.share-inline {
    width: auto;
    height: auto;
    right: 0;
}

.share.share-inline li {
    display: inline-block;
}

.share.share-inline li a {
    margin-top: 0px;
}
/* /Share icons as inline block*/

/* /Share*/

/* /PRODUCT IN PAGE*/

/*BLOG IN PAGE*/
.blog_in {
    display: flex;
    height: 100%;
}

.blog_in__image, .blog_in__content {
    display: flex;
    min-height: 100%;
}

.blog_in__content h2 {
    font-size: 27px;
}

.blog_in__image img {
    width: 100%;
}

.blog_in__content > h1,
.blog_in__content > h2,
.blog_in__content > h3,
.blog_in__content > h4,
.blog_in__content > h5,
.blog_in__content > h6 {
    margin-bottom: 0px;
}

.blog_in__content p {
    text-align: justify;
    font-size: 16px;
    margin-top: 15px;
    color: var(--glob-gray);
}

.blog_in .item-helper {
    padding: 10px;
    width: 100%;
}

/*Comment Widget*/
.comment_widget {
    margin-top: 35px;
    margin-bottom: 35px;
}

.comment_widget .comment_list {
    display: flex;
    flex-direction: column;
}

.comment_widget .comment_list__item {
    margin-top: 15px;
}

.comment_widget .user_image img {
    border-radius: 50%;
}

.comment_widget .user_comment__content {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(241, 241, 241, 0.7);
}

.comment_widget .user_comment__content > p {
    font-size: 16px;
    font-weight: normal;
    font-family: Poppins-Regular;
}

.comment_widget .consist-icon {
    position: absolute;
    transform: rotate(45deg);
    border-right: none;
    border-top: none;
    width: 15px;
    height: 15px;
    left: 0px;
    box-shadow: 0px 1px 1px 0px rgba(216, 195, 165, 0.1);
    background-color: #fff;
}

.comment_widget 
> .comment_writing 
> .item-helper 
> .comment_list 
> .comment_list__item 
> .user_comment 
> .consist-icon {
    top: 25px;
}

.comment_widget p {
    color: var(--glob-gray);
    z-index: 999;
}


.comment_of__comment {
    margin-top: 10px;
}

.comment_of__comment .user_comment {
    display: flex;
    align-items: center;
}

.comment_of__comment .user_comment p {
    font-size: 13px;
}

.comment_of__comment .comment_list {
    padding-bottom: 15px;
}

.comment_of__comment .comment_list__item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.comment_of__comment .comment_list__item .user_image {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.comment_of__comment .user_image .item-helper {
    padding: 5px;
}

.comment_widget .comment_form,
.comment_widget .comment_form__inner,
.comment_widget .comment_form form,
.comment_widget .comment_form .form-item,
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-item > textarea {
    width: 100% !important;
    padding: 15px;
    font-size: 14px;
    outline: none;
    border: none;
    border: 1px solid rgba(216, 195, 165, 0.2);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(216, 195, 165, 0.1);
    -moz-box-shadow: 0px 1px 2px 1px rgba(216, 195, 165, 0.1);
    box-shadow: 0px 1px 2px 1px rgba(216, 195, 165, 0.1);
    color: var(--glob-gray);
}

.comment_widget .comment_form {
    padding: 15px;
}

.comment_form__inner {
    border-top: 1px solid rgba(241, 241, 241, 0.7);
    padding-top: 15px;
}

.comment_form .submit_btn {
    margin-top: 3px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.comment_widget > .comment_form {
    padding-top: 0px;
}

.comment_widget > .comment_form textarea {
    min-height: 170px;
}

.comment_widget > .comment_form .comment_form__inner {
    width: 100%;
    border-top: none;
}

.txt-area {
    font-family: Poppins-Light;
}
/* /Comment Widget*/
/* /BLOG IN PAGE*/

/*CATEGORY PAGE*/
.category {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 90px;
}

.category_in {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.category_item {
    opacity: 0.7;
    display: flex;
    flex: 1;
    min-height: 100%;
    min-width: 25%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.category_item .item-helper > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.category_item img {
    max-width: 100%;
}

.category_item .item-helper {
    width: 100%;
    height: 100%;
}

.category_item:hover {
    opacity: 1;
}

.category_header {
    width: 100%;
    text-align: center;
}

.category_header a {
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins-SemiBold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
}
/* /CATEGORY PAGE*/

/*CATEGORY IN PAGE*/
.grid-fixed {
    display: flex;
}

.grid-fixed-left {
    min-width: 200px;
    max-width: 18%;
    margin-right: 10px;
    margin-left: 10px;
}

.grid-fixed-right {
    width: calc(100% - 240px);
    margin-right: 10px;
    margin-left: 10px;
}

.products_in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.products_in .product_in__item {
    display: flex;
    opacity: 0.7;
    min-height: 100% !important;
    min-width: 25%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.products_in .product_in__item:hover {
    opacity: 1;
}

.products_in .product_in__item .item-helper {
    height: 100%;
    width: 100%;
}

.products_in .product_in__item .item-helper .item_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.products_in a {
    text-decoration: none;
}

.products_in .product_in__item .item-helper .item_header a {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.products_in .product_in__item > a {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

/*Pagination*/
.pagination, .pagination_in {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.paginations-num {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination_in > a {
    color: var(--glob-gray);
    padding-left: 15px;
    padding-right: 15px;
}

.paginations_num {
    display: flex;
}

.paginations_num a {
    display: block;
    border: 1px solid var(--glob-grill);
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background: var(--glob-white);
    color: #000;
    text-decoration: none;
}

.paginations_num a:hover {
    border: 1px solid #000;
}

/* /Pagination*/

/*Filter Widget*/
.filter-widget {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 65px;
    width: 100%;
}

.filter-widget h4 {
    color: #000;
    font-weight: bolder;
    font-size: 17px;
}

.filter-widget span {
    color: #000;
}

.filter-widget ul {
    margin: 0;
    padding: 0;
}

.filter-widget ul li {
    list-style: none;
}

.filter-widget ul li a {
    text-decoration: none;
    font-family: Poppins-Light;
}

.filter-widget > div a {
    font-size: 13px;
}

/*review-filter*/
.filter-widget .review-filter {
    width: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.filter-widget .review-list a {
    font-size: 14px;
}

.filter-widget .review-list a span {
    font-family: Poppins-light;
    margin-left: 5px;
    font-size: 15px;
}

.star-active {
    color: rgba(245, 185, 77, 1);
}

.star-deactive {
    color: rgba(142, 141, 138, 0.3);
}

/* /review-filter*/
/*brands-filter*/
.brands-filter {
    width: 100%;
    padding: 5px;
    border-top: 1px solid rgba(234, 231, 220, 0.5);
}


.brands-filter ul li input {
    visibility: hidden;
}

.brands-filter ul li {
    position: relative;
}

.brands-filter ul li label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background: #fff;
    top: 0.4rem;
    border-radius: 1px;
}

.brands-filter ul li label i {
    font-size: 10px;
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}

.brands-filter ul li label:hover, .brands-filter ul li.checked label {
    border: 1px solid var(--glob-gray);
    background-color: rgba(0, 0, 255, 0.3);
}

.brands-filter ul li label:hover i, .brands-filter ul li.checked label i {
    visibility: visible;
}

.brands-filter ul li.checked a {
    font-weight: bold;
}

.brands-filter ul li a {
    color: #000;
    padding-left: 5px;
}

.brands-list > a {
    color: rgba(0, 0, 255, 1);
    font-weight: 500;
    display: block;
    margin-top: 3px;
}
/* /brands-filter*/

/*price-filter*/
.price-filter {
    width: 100%;
    padding: 5px;
    border-top: 1px solid rgba(234, 231, 220, 0.5);
}

.price-list li a {
    color: #000;
}

.price-list a:hover {
    color: rgba(245, 185, 77, 1);
}

.price-inputs {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.price-inputs input {
    font-family: sans-serif;
    width: 50%;
    display: flex;
    flex: 1;
    font-size: 12px;
    text-align: center;
    margin-right: 5px;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid var(--glob-gray);
    outline: none;
}

.price-inputs input[type = button] {
    justify-content: center;
    max-width: 35px;
    background-color: rgba(0, 0, 255, 0.4);
    color: #fff;
    border: 1px solid rgba(0, 0, 255, 0.4);
    margin-right: 0px;
}
/* /price-filter*/

/* /Filter Widget*/


/* /CATEGORY IN PAGE*/


